<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" class="h-100">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body class="h-100">
<div class="container-fluid h-100 g-0">
    <div class="row p-3 bg-dark bg-gradient text-white">
        <div class="col-10 pt-2"><span class="fw-bold" th:text="${currentUserEmail}"></span> with roles: <span
                th:text="${currentUserRoles}"></span></div>
        <div class="col-2 text-secondary text-end">
            <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
    <div class="row bg-body h-100 g-0">
        <div class="col-2 pt-3">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item text-capitalize" role="presentation">
                    <button class="nav-link active w-100 text-start" id="pills-admin-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-admin" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Admin
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link w-100 text-start" id="pills-user-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-user"
                            type="button" role="tab" aria-controls="pills-user" aria-selected="false">User
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-10 p-4 h-100 bg-light tab-content" id="pills-tabContent">
            <!--            ADMIN-->
            <div class="tab-pane fade show active" id="pills-admin" role="tabpanel" aria-labelledby="pills-admin-tab">
                <h2>Admin panel </h2>
                <!--        -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users"
                                type="button" role="tab" aria-controls="users" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new_user-tab" data-bs-toggle="tab" data-bs-target="#new_user"
                                type="button" role="tab" aria-controls="new_user" aria-selected="false">New User
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                        <h6 class="mb-0 p-3 border">All users</h6>
                        <div class="bg-body p-3">
                            <table class="table table-hover table-striped border-top" id="mainTable">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">First name</th>
                                    <th class="text-center">Last name</th>
                                    <th class="text-center">Age</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Role</th>
                                    <th class="text-center">Edit</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete
                                        user</h5>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form class="form-horizontal" action="#"
                                      method="post">
                                    <div class="modal-body">
                                        <div class="bg-body row justify-content-center g-0">
                                            <div class="col-4">
                                                <input type="hidden"
                                                       id="idDelete"/>
                                                <div class="text-center fw-bold">First name
                                                </div>
                                                <input disabled type="text"
                                                       class="form-control mb-3"
                                                       id="firstNameDelete"/>
                                                <div class="text-center fw-bold">Last name</div>
                                                <input disabled type="text"
                                                       class="form-control mb-3"
                                                       id="lastNameDelete"/>
                                                <div class="text-center fw-bold">Age</div>
                                                <input disabled type="text"
                                                       class="form-control mb-3"
                                                       id="ageDelete"/>
                                                <div class="text-center fw-bold">Email</div>
                                                <input disabled type="text"
                                                       class="form-control mb-3"
                                                       id="emailDelete"/>
                                                <div class="text-center fw-bold">Role</div>
                                                <select disabled class="form-select mb-3"
                                                        size="2"
                                                        multiple="true" name="roles"
                                                        id="rolesDelete">
                                                    <option th:each="role : ${allRoles}"
                                                            th:text="${role.role.substring(5)}"
                                                            th:value="${role.id}"
                                                            th:name="${role.role}"
                                                    ></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="btnCloseDeleteModal">Close
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1"
                         aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form class="form-horizontal" action="#"
                                      th:action="@{/admin/users}" th:object="${user}"
                                      method="put">
                                    <div class="modal-body">
                                        <div class="bg-body row justify-content-center g-0">
                                            <div class="col-4">
                                                <input type="hidden" th:field="*{id}"
                                                       id="idEdit"/>
                                                <div class="text-center fw-bold">First name
                                                </div>
                                                <input type="text" class="form-control mb-3"
                                                       th:field="*{firstName}"
                                                       id="firstNameEdit"/>
                                                <div class="text-center fw-bold">Last name</div>
                                                <input type="text" class="form-control mb-3"
                                                       th:field="*{lastName}"
                                                       id="lastNameEdit"/>
                                                <div class="text-center fw-bold">Age</div>
                                                <input type="text" class="form-control mb-3"
                                                       th:field="*{age}" id="ageEdit"/>
                                                <div class="text-center fw-bold">Email</div>
                                                <input type="text" class="form-control mb-3"
                                                       th:field="*{email}" id="emailEdit"/>
                                                <div class="text-center fw-bold">Password</div>
                                                <input type="password" class="form-control mb-3"
                                                       th:field="*{password}"
                                                       id="passwordEdit"/>
                                                <div class="text-center fw-bold">Role</div>
                                                <select class="form-select mb-3" size="2"
                                                        multiple="true" name="roles"
                                                        id="rolesEdit">
                                                    <option th:each="role : ${allRoles}"
                                                            th:selected="${user.roles} != null ? ${#sets.contains(user.roles, role)} : false"
                                                            th:text="${role.role.substring(5)}"
                                                            th:value="${role.id}"
                                                            th:name="${role.role}"
                                                    ></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="btnCloseEditModal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary" id="btnEdit">Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="new_user-tab">
                        <h6 class="mb-0 p-3 border">Add new user</h6>
                        <div class="bg-body row justify-content-center g-0">
                            <div class="col-4">
                                <form class="form-horizontal" action="#"
                                      method="post">
                                    <div class="text-center fw-bold">First name</div>
                                    <input type="text" class="form-control mb-3" id="firstNameAdd"/>
                                    <div class="text-center fw-bold">Last name</div>
                                    <input type="text" class="form-control mb-3" id="lastNameAdd"/>
                                    <div class="text-center fw-bold">Age</div>
                                    <input type="text" class="form-control mb-3" id="ageAdd"/>
                                    <div class="text-center fw-bold">Email</div>
                                    <input type="text" class="form-control mb-3" id="emailAdd"/>
                                    <div class="text-center fw-bold">Password</div>
                                    <input type="password" class="form-control mb-3" id="passwordAdd"/>
                                    <div class="text-center fw-bold">Role</div>
                                    <select class="form-select mb-3" size="2" multiple="true" name="roles"
                                            id="rolesAdd">
                                        <option th:each="role : ${allRoles}"
                                                th:text="${role.role.substring(5)}"
                                                th:value="${role.id}"
                                                th:name="${role.role}"
                                        ></option>
                                    </select>
                                    <div class="bg-body row justify-content-center g-0">
                                        <div class="col-4">
                                            <input type="button" class="btn btn-success mb-3" id="btnAdd"
                                                   value="Add new user"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Tab USER-->
            <div class="tab-pane fade" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
                <h2>User information-page</h2>
                <!--        -->
                <h6 class="mb-0 p-3 border">About user</h6>
                <div class="bg-body p-3">
                    <table class="table table-hover table-striped border-top">
                        <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">First name</th>
                            <th class="text-center">Last name</th>
                            <th class="text-center">Age</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="userId"></td>
                            <td id="userFirstName"></td>
                            <td id="userLastName"></td>
                            <td id="userAge"></td>
                            <td id="userEmail"></td>
                            <td id="userRole"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/scripts.js}" />
<script type="text/javascript" src="webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    var tabChange = document.getElementById('pills-user-tab')
    tabChange.addEventListener('shown.bs.tab', function (event) {
        /*[+
        var userId = [[${currentUserId}]];
        +]*/
        var userFirstName = document.querySelector('#userFirstName')
        var userLastName = document.querySelector('#userLastName')
        var userAge = document.querySelector('#userAge')
        var userEmail = document.querySelector('#userEmail')
        var userRole = document.querySelector('#userRole')
        fetch('/admin/users/' + userId)
            .then(response => response.json())
            .then(result => {
                userId.textContent = result.id
                userFirstName.textContent = result.firstName
                userLastName.textContent = result.lastName
                userAge.textContent = result.age
                userEmail.textContent = result.email
                userRole.textContent = result.rolesToStr
            })
    })
</script>
</body>
</html>