<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>User</h1>
<form action="#" th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Firstname: <input type="text" th:field="*{firstName}"/></p>
    <p>Lastname: <input type="text" th:field="*{lastName}"/></p>
    <p>Age: <input type="text" th:field="*{age}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Password: <input type="text" th:field="*{password}"/></p>
    <p>Roles:</p>
    <ul>
        <li th:each="role : ${allRoles}">
            <input th:type="checkbox"
                   th:id="${role.id}"
                   th:name="${role}"
                   th:value="${role.id}"
                   th:checked="${user.roles} != null ? ${#sets.contains(user.roles, role)} : false"
            />
            <label th:for="${role.id}" th:text="${role.role}"></label>
        </li>
    </ul>
    <p><input type="submit" value="Save"/></p>
</form>
<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>